<div class="row m-4">
  <% @lists.each do |list| %>
    <div class="col-xs-12 col-sm-4">
      <%= link_to list_path(list) do %>
        <div class="card shadow p-3 mb-5 bg-body rounded-3">
          <div class="card-description">
            <h3><%= list.name %></h3>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
