<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to lists_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "watch_list_logo.png" %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <%= link_to "My lists", lists_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "Create a list", new_list_path, class: "navbar-wagon-item navbar-wagon-link" %>
  </div>
</div>
